[submodule "fajox1/famods"]
	path = fajox1/famods
	url = https://github.com/fajox1/famods
[submodule "vsecoder/hikka_modules"]
	path = vsecoder/hikka_modules
	url = https://github.com/vsecoder/hikka_modules
